:root {
    // --header-height: 56px;
    // --sidenav-width: 300px;
    // --color-brand-primary: #a4343a;

    --list-content-margin-left: 52px;
    --list-content-margin-right: 99px;

    --text-color-default:  rgb(32, 33, 36);

    --color-green: #42ae13;
    --color-green-accent: rgb(66, 174, 19);

    --color-orange: #e55b26;

    --color-blue: #0675ec;
    --color-blue-bg: #253bdd;

    --color-hover-background-nuetral: #f8f9fa;


    --font-family-default: "Poppins", sans-serif;

    --color-icon: #3c70ed;
}

